body {
    background-color: #fff;
}

form {
    display: flex;
    margin: auto;
    align-items: center;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #000;
}

h1 {
    color: #000;
}

input   {
    display: flex;
    margin: auto;
    background-color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    height: 42px;
    width: 199px;
}

.login {
    display: flex;
    margin: 0;
    color: #fff;
    background-color: #0073CD;
    border-radius: 10px;
    height: 42px;
    width: 199px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.register{
    display: flex;
    color: #000;
    background-color: #fff;
    border-color: #000;
    border-radius: 10px;
    height: 42px;
    width: 199px;
}

.google {
    display: flex;
    color: #000;
    background-color: #fff;
    border-color: #000;
    border-radius: 10px;
    height: 42px;
    width: 199px;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}